h1{
	font-family: 'Roboto', sans-serif;
	color: blue; 

}

.introduction {
	text-align: center;
	background-color: red;

}

.mainpage {
	height: 100%;
	width: 100%;
	background:url('https://images3.alphacoders.com/273/thumb-1920-273289.jpg');
	text-align: center;
}

.mainintro {
	background-color: grey;
	text-align: center;
}

.experience {
	background-color: blue;
	text-align: center;
	color: white;
}

.video {
	padding: 50px;
}